<div class="profile" *ngIf="userProfile">
  <img class="profile-avatar" [src]="userProfile.avatar_url" [alt]="userProfile.name">
  <h1 class="profile-title">{{ userProfile.name }}</h1>
  <a class="profile-url" [href]="userProfile.html_url" target="_blank">@{{ userProfile.login }}</a>
  <p class="profile-bio" *ngIf="userProfile.bio">{{ userProfile.bio }}</p>
  <hr class="section-divider"/>
  <span class="profile-info" title="Email" *ngIf="userProfile.email">
    <fa class="profile-icon" [name]="'envelope'"></fa>
    <a class="profile-url" href="mailto:{{ userProfile.email }}">{{ userProfile.email }}</a>
  </span>
  <span class="profile-info" title="Followers">
    <fa class="profile-icon" [name]="'users'"></fa> {{ userProfile.followers }}
  </span>
  <span class="profile-info" title="Following">
    <fa class="profile-icon" [name]="'eye'"></fa> {{ userProfile.following }}
  </span>
</div>