<div class="profile" *ngIf="userProfile">
  <img class="profile-avatar" [src]="userProfile.avatar_url" [alt]="userProfile.name">
  <h1 class="profile-title">{{ userProfile.name }}</h1>
  <a class="profile-url" [href]="userProfile.html_url" target="_blank">@{{ userProfile.login }}</a>
  <p class="profile-bio" *ngIf="userProfile.bio">{{ userProfile.bio }}</p>

  <hr class="section-divider"/>

  <app-info-icon  *ngIf="userProfile.email" [title]="'Email'" [icon]="'envelope'" 
    [label]="userProfile.email" [url]="'mailto:' + userProfile.email"></app-info-icon>
  <app-info-icon  *ngIf="userProfile.followers" [title]="'Followers'" [icon]="'users'" 
    [label]="userProfile.followers"></app-info-icon>
  <app-info-icon  *ngIf="userProfile.following" [title]="'Following'" [icon]="'eye'" 
    [label]="userProfile.following"></app-info-icon>
</div>