:host {
  font-family: sans-serif;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 20px;
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0 0 .75rem;
}
.card-title__link {
  color: #5286ec;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.external-link {
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: underline;
  }
}
.card-icon {
  margin-right: 5px;
}