<div class="card card-spaced">
  <div class="card-body">
    <h3 class="card-title">
      <a class="card-title-link" [routerLink]="['/repo', repoItem.owner.login, repoItem.name]">{{ repoItem.name }}</a>
    </h3>
    <p class="card-description">
      {{ repoItem.description }}
    </p>
    <app-info-icon  [title]="'Stars'" [icon]="'star'" [inline]=true
      [label]="repoItem.stargazers_count"></app-info-icon>
    <app-info-icon  [title]="'Watchers'" [icon]="'eye'" [inline]=true
      [label]="repoItem.watchers"></app-info-icon>
    <app-info-icon  [title]="'View in Github'" [icon]="'external-link'" [inline]=true
      [label]="''" [url]="repoItem.html_url" [target]="'_blank'"></app-info-icon>
  </div>
</div>