.card-spaced {
  margin-bottom: 1rem;
}
.card-title-link {
  color: #5286ec;
}
.external-link {
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: underline;
  }
}
.card-icon {
  margin-right: 5px;
}