.profile-info {
  display: block;
  margin: 10px 0;
}
.profile-icon {
  margin-right: 10px;
}
.profile-url {
  text-decoration: none;
  color: #5286ec;
  font-weight: bold;
}
.profile-label {
  margin: 0;
}