<div *ngIf="repoInfo" class="container">
  <div *ngIf="repoInfo">
    <h1 class="repo-title">
      <a class="repo-link" [routerLink]="['/user', repoInfo.owner.login]">{{ repoInfo.owner.login }}</a> / 
      {{ repoInfo.name }}
    </h1>
    <app-info-icon [icon]="'star'" [title]="'Stars'" [inline]=true
      [label]="repoInfo.stargazers_count"></app-info-icon>
    <app-info-icon [icon]="'file-code-o'" [title]="'Language'" [inline]=true
      [label]="repoInfo.language"></app-info-icon>
    <app-info-icon [icon]="'external-link'" [title]="'External Link'" [inline]=true
      [target]="'_blank'" [url]="repoInfo.html_url"></app-info-icon>
    <p class="repo-description">
      {{ repoInfo.description }}
    </p>
  </div>
  <app-readme-container [readmeTemplate]="readmeTemplate"></app-readme-container>
</div>