.profile-info {
  display: block;
  margin: 1rem 0;
}
.profile-icon {
  margin-right: .4rem;
  color: #333;
}
.profile-info-inline {
  display: inline-block;
  margin: 0 .4rem 0 0;
}
.profile-info-inline .profile-icon {
  display: inline-block;
  margin: 0;
}
.profile-url {
  text-decoration: none;
  color: #5286ec;
  font-weight: bold;
}
.profile-label {
  margin: 0;
}