<div class="container">
  <div class="row">
    <div class="col-sm-3" *ngIf="userProfile">
      <app-user-profile [userProfile]="userProfile"></app-user-profile>
    </div>
    <div class="col-sm">
      <h2 class="repo-title">Repos</h2>
      <div class="row">
        <div class="col-sm">
          <app-user-repos *ngIf="userRepos" [repoList]="userRepos"></app-user-repos>
        </div>
        <div class="col-sm-2">
          <app-user-repo-filters [filters]="filters" (filterChanged)="getRepos($event)"></app-user-repo-filters>
        </div>
      </div>
    </div>
  </div>
</div>